


<div class="container">
  <div class="row g-0 mb-4">
    <div class="col-6 text-center offset-3">
      <h3 class="">{{images[currentPage].title}}</h3>
      <img [src]="images[currentPage].imagesUrl" alt="someImageHere"/>
    </div>
  </div>
  <div class="row g-0 ">
    <div class="col-6 offset-4">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item" [ngClass]="{'disabled':currentPage===0}"><a (click)="currentPage=currentPage-1" class="page-link" href="#">Previous</a></li>
          <ng-container *ngFor="let data of images; let i = index">
          <li class="page-item" [ngClass]="{'active':currentPage===i}" *ngIf="handleButtonForNavigation(i)"  >
            <a class="page-link"  (click)="handleClick(i)">{{ i+1 }}</a>
          </li>
        </ng-container>
          <li class="page-item" [ngClass]="{'disabled':currentPage===images.length-1}"><a (click)="currentPage=currentPage+1" class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
